# 4.6 Combining & Exporting Data Part 1

### This script contains the following points:
#### 1. Import Resources
#### 2. Merge orders.csv and orders_products_prior.csv

### 1. Import resources

In [30]:
#Import libs
import pandas as pd
import numpy as np
import os

In [31]:
# Import the new data
path = r'C:\Users\zhoux\Documents\CF-Data Analyst Program\DA-Immersion\10-2023 Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [32]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

##### Overview

In [33]:
# Check the dimension of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [34]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [35]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [36]:
df_ords.shape

(3421083, 7)

### 2. Merge orders.csv and orders_products_prior.csv

##### Double-check whether the merge can be a full match

In [37]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how ='outer')

In [38]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [39]:
# having used how = 'outer' instead of 'inner', the merged df now includes also left_only data, 
# meaning that the tow dfs arrn't a full match.
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

##### Merge (the project only works with data sets that have a full merge rate)

In [40]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [41]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [43]:
df_merged_large.shape

(32434489, 11)

In [44]:
# do this extra step to merge again excluding the indicator, because the '_merge' column will casue trouble in the next steps
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

##### Export as .pkl

In [45]:
# Export to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))